#### Data Preparation

Using pandas to read data

In [1]:
import pandas as pd

df = pd.read_csv('fashion_data.csv')
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>year</th>
      <th>season</th>
      <th>brand</th>
      <th>author of review</th>
      <th>location</th>
      <th>time</th>
      <th>review text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016</td>
      <td>Spring</td>
      <td>A Dtacher</td>
      <td>Kristin Anderson</td>
      <td>NEW YORK</td>
      <td>September 13, 2015</td>
      <td>Detachment was the word of the day at A Dtache...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016</td>
      <td>Spring</td>
      <td>A.F. Vandevorst</td>
      <td>Luke Leitch</td>
      <td>PARIS</td>
      <td>October 1, 2015</td>
      <td>You heard this collection coming long before y...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016</td>
      <td>Spring</td>
      <td>A.L.C.</td>
      <td>Kristin Anderson</td>
      <td>NEW YORK</td>
      <td>September 21, 2015</td>
      <td>August saw the announcement of big news for A....</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016</td>
      <td>Spring</td>
      <td>A.P.C.</td>
      <td>Nicole Phelps</td>
      <td>PARIS</td>
      <td>October 3, 2015</td>
      <td>They call me the king of basics, Jean Touitou ...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016</td>
      <td>Spring</td>
      <td>A.W.A.K.E.</td>
      <td>Maya Singer</td>
      <td>NEW YORK</td>
      <td>October 21, 2015</td>
      <td>Natalia Alaverdian is a designer with a lot of...</td>
    </tr>
  </tbody>
</table>
</div>

Write a class function to process the dataframe by following steps:

1. Use NLTK to tokenize text in the "review text" column
2. Give the user options for "bag-of-words", "bag-of-words with stemming and stop words removal", "POS with all nouns" and "POS with only NNP" by customized functions
3. Upon choosing the functions, add top 30 features to dataframe as new columns for further analysis and return a new dataframe

In [2]:
import nltk
import re
class reviewAnalyzer():
    def __init__(self, df, ngrams=2, top_features=30):
        '''
        
        :param df: the original input data
        :param ngrams: options for n-grams bag of words
        :param top_features: options for number of top features returned
        '''
        
        self.df = df
        self.ngrams = ngrams
        self.top_features = top_features
    def simple_bags(self):
        for ind in range(len(self.df)):
            rawText = self.df.loc[ind, 'review text']
            # Use regular expressions to get a pure letter text and transfer all words to lower case
            letterText = re.sub('[^a-zA-Z]', ' ', rawText).lower()
            token = nltk.word_tokenize(letterText, language='english')
            text = []
            for n in range(1, self.ngrams+1):
                tempText = nltk.ngrams(token, n)
                text.extend([' '.join(words).strip() for words in tempText])
            
            freq = nltk.FreqDist(text)